In [ ]:
# Exploring the dataset

In [1]:
from os import path
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
df = (
pd.read_csv("/Users/aidenb/Documents/Year_3/DATA_301/Project/Datafiniti_Fast_Food_Restaurants.csv")
    
    .dropna()
    .rename(columns = {'province':'state'})
    .drop(['address',
           'keys',
           'latitude',
           'longitude',
           'postalCode',
           'websites',
           'sourceURLs',
           'id',
           'dateAdded',
           'dateUpdated',
           'categories'],
         axis = 1)
)
df

               city country            name state
0         Thibodaux      US  SONIC Drive In    LA
1         Thibodaux      US  SONIC Drive In    LA
2      Pigeon Forge      US       Taco Bell    TN
3      Pigeon Forge      US          Arby's    TN
4            Morrow      US  Steak 'n Shake    GA
...             ...     ...             ...   ...
9995  Winston-Salem      US       Pizza Hut    NC
9996  Winston-Salem      US       Pizza Hut    NC
9997   Kernersville      US       Pizza Hut    NC
9998         Wilson      US       Pizza Hut    NC
9999  Elizabethtown      US       Pizza Hut    NC

[10000 rows x 4 columns]

In [86]:
#Most common fast food restaurants in the US
df['name'].value_counts()

McDonald's         1898
Taco Bell          1032
Burger King         833
Subway              776
Arby's              663
                   ...
Italo's Pizza         1
Parkside Gyros        1
Ben and Jerry's       1
Peach Garden          1
Richard's Pizza       1
Name: name, Length: 571, dtype: int64

In [83]:
#Frequency of McDonalds in the US
df1 = df.loc[lambda df: df['name'].str.contains('McDonald')]
print(df1)

              city country        name state
25     Schenectady      US  McDonald's    NY
26        Kingston      US  McDonald's    NY
27        New York      US  McDonald's    NY
28        New York      US  McDonald's    NY
29       Uniondale      US  McDonald's    NY
...            ...     ...         ...   ...
9986        Dallas      US  McDonald's    TX
9987        Dallas      US  McDonald's    TX
9989        Dundee      US  McDonald's    MI
9991  Port Hueneme      US  McDonald's    CA
9993        Oxnard      US  McDonald's    CA

[1943 rows x 4 columns]

In [78]:
#Frequency of Taco Bell in the US
df2 = df.loc[lambda df: df['name'].str.contains('Taco Bell')]
print(df2)

               city country       name state
2      Pigeon Forge      US  Taco Bell    TN
53            Wylie      US  Taco Bell    TX
54            Tyler      US  Taco Bell    TX
127     Belle Glade      US  Taco Bell    FL
153        Claymont      US  Taco Bell    DE
...             ...     ...        ...   ...
9889  Pompano Beach      US  Taco Bell    FL
9926    Schenectady      US  Taco Bell    NY
9930          Yukon      US  Taco Bell    OK
9944         Monroe      US  Taco Bell    NY
9971      Englewood      US  Taco Bell    OH

[1037 rows x 4 columns]

In [82]:
#What state has the most Taco Bells?
df2['state'].value_counts()

CA    123
FL     75
TX     61
MI     55
AZ     53
OH     45
IN     45
GA     44
MO     43
IL     36
WA     30
VA     30
CO     27
LA     25
TN     24
NY     22
KY     22
WI     21
NV     20
MD     20
NC     17
AR     16
KS     15
MN     15
PA     14
NJ     14
OR     13
NM     13
SC     12
OK     10
MA      9
NH      7
WV      7
UT      6
NE      6
DE      6
MS      5
CT      4
ND      4
IA      4
AK      3
MT      3
AL      3
ME      3
SD      2
ID      2
VT      1
WY      1
HI      1
Name: state, dtype: int64

In [84]:
#What state has the most McDonalds?
df1['state'].value_counts()

CA    158
FL    147
TX    138
NY    105
PA    102
OH    101
GA    100
IL     79
TN     72
MI     72
NC     68
AZ     59
MN     57
OR     51
KY     51
WA     45
LA     45
MD     43
WI     36
MO     35
OK     34
MA     34
SC     28
NV     25
NM     23
IA     22
NJ     21
MS     19
WV     19
AR     18
CO     14
SD     13
HI     12
MT     11
CT     11
VA     10
IN      9
UT      8
NH      7
NE      7
VT      7
ME      6
WY      6
DE      5
ND      4
ID      3
KS      2
AK      1
Name: state, dtype: int64

In [87]:
#Cities with McDonalds *ranked*
df1['city'].value_counts()

Houston         27
Las Vegas       19
Louisville      18
Orlando         18
Miami           17
                ..
Modesto          1
Port Hueneme     1
Madisonville     1
Owings Mills     1
Plainwell        1
Name: city, Length: 1068, dtype: int64

In [89]:
#Cities with Taco Bells *ranked*
df2['city'].value_counts()

Columbus           15
Las Vegas          11
Phoenix            11
Glendale           10
Orlando            10
                   ..
Haddon Heights      1
Loveland            1
Morgan Hill         1
Biloxi              1
Franklin Square     1
Name: city, Length: 672, dtype: int64